# Environnement virtuel Python (adaptez le chemin si votre .venv est dans un sous-dossier)
.venv/
codeML/.venv/ # Si votre structure est Projet_CPLEX/codeML/.venv/

# Fichiers Python compilés et caches
*.pyc
__pycache__/

# Fichiers compilés C++
*.o
mcnd_mip # Remplacez par le nom exact de votre exécutable

# Fichiers de données générés (que vous ne voulez pas versionner)
branching_data.csv
resultat_ML.csv
ml_model.pkl

# Fichiers temporaires courants
*~
.DS_Store
Thumbs.db
